<div class="ch">
  <div class="ch__comps">
    <button class="btnc btnc--green"></button>
    <button class="btnc btnc--yellow"></button>
    <button class="btnc btnc--red"></button>
    <span><%= text %></span>
  </div>
</div>

<code class="highlight line-%i text-left mb-3">

    <%= raw rouge(code, language) %>

</code>