<fieldset>
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                                <span class="input-group-text"> New reference</span>
                        </div>
                        <%= f.text_field :text, placeholder: "Type the name of your reference", class: "form-control", required: true %> 
                        <%= f.hidden_field :style_id, :value => Style.find_by(name: "Reference").id %>

                        <%= f.hidden_field :_destroy %>
                        <%= link_to( :class => "class") do %>
                                <i class="fas fa-trash-alt fa-2x ml-3 remove_fields red" style="color:red"></i>
                        <% end %>
       </div>
</fieldset>